CheckOptions:
  - key: modernize-avoid-c-arrays.identifier-naming
    value: "snake_case"
  - key: readability-identifier-naming.ClassCase
    value: "snake_case"
  - key: readability-identifier-naming.VariableCase
    value: "snake_case"
  - key: readability-identifier-naming.FunctionCase
    value: "snake_case"
